body {
  background-color: #003e6d;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #086cb5 0%,
    rgba(8, 126, 211, 0) 100%
  );
}

header {
  z-index: 1000;
  background-color: #003e6d;
}

.notification-bar {
  background-color: #17243a;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #e5f2f8;
  font-family: "Messina";
  font-size: 15.72px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.702px;
}

.company-logo {
  height: 26px;
  background-repeat: no-repeat;
  width: 234px;
  background-image: url("/assets/logo.svg");
}

.menu-icon {
  background-image: url("/assets/menu.svg");
  height: 23px;
  width: 28px;
}

.tag-line {
  color: #e5f2f8;
  text-align: center;
  font-size: 35.72px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 57.152px */
  letter-spacing: 13.574px;
  text-transform: uppercase;
}

.access-text-bg {
  width: 100vw;
  aspect-ratio: 0.5;
  background-image: url("/assets/access.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 70px;
  background-position: 27% 0%;
}

.person-one-img {
  background-image: url("/assets/img1.jpg");
  height: 490px;
  width: 330px;
  position: absolute;
  top: 323px;
  background-position: 60%;
  background-size: 260% 140%;
}
.person-two-img {
  background-image: url("/assets/img2.jpg");
  height: 400px;
  width: 310px;
  position: absolute;
  top: 0px;
  right: 0;
  background-position: 51%;
  background-size: 240% 140%;
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  .description {
    align-self: flex-end;
    width: min(100vw, 768px);
    font-size: 30px;
    color: white;
    font-family: "Messina";
  }
}

.mail-container {
  position: relative;
  padding: 200px 20px 0;
  width: 100vw;
  .plus-icon {
    height: 130px;
    width: 130px;
    position: absolute;
    background-image: url("/assets/plus.svg");
    top: 100px;
    left: 100px;
  }

  .mail-box {
    margin: 0 auto;
    display: flex;
    width: min(calc(100vw - 20px), 768px);
    padding: 0;

    input {
      padding: 30px;
      width: 60%;
      height: 79px;
      border-radius: 5px 0px 0px 5px;
      border: 1px solid rgba(229, 242, 248, 0.33);
      background: rgba(229, 242, 248, 0.05);
      color: var(--Text-White, #e5f2f8);
      // font-family: "Messina";
      font-size: 25.72px;
      font-style: normal;
      font-weight: 400;
      line-height: 165%; /* 42.438px */
      letter-spacing: 0.386px;
    }
    button {
      width: 40%;
      border-radius: 0px 5px 5px 0px;
      background: var(--Sand, #ff763c);
      box-shadow: 0px 0px 54px 0px rgba(255, 118, 59, 0.6);
    }
  }
  p {
    margin: 50px auto;
    width: min(calc(100vw - 20px), 600px);
    color: #e5f2f8;
    text-align: center;
    font-family: Messina Sans;
    font-size: 12.72px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 20.988px */
    letter-spacing: 0.191px;
    opacity: 0.4;
  }
}

