body {
  background-color: #003e6d;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #086cb5 0%,
    rgba(8, 126, 211, 0) 100%
  );
}

header {
  z-index: 1000;
  background-color: #003e6d;
}

.notification-bar {
  background-color: #17243a;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #e5f2f8;
  font-family: "Messina";
  font-size: 15.72px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.702px;
}

.company-logo {
  height: 26px;
  background-repeat: no-repeat;
  width: 234px;
  background-image: url("/assets/logo.svg");
}

.menu-icon {
  background-image: url("/assets/menu.svg");
  height: 23px;
  width: 28px;
}

.main-banner-container {
  .tag-line {
    color: #e5f2f8;
    text-align: center;
    font-size: 35.72px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 57.152px */
    letter-spacing: 13.574px;
    text-transform: uppercase;
  }
  .main-banner-images {
    .access-text-bg {
      width: 100vw;
      height: 50vw;
      background-image: url("/assets/access.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 27% 0%;
    }
    .person-one-img {
      background-image: url("/assets/img1.jpg");
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      background-position: 60%;
      background-size: 100% 140%;
    }
    .person-two-img {
      background-image: url("/assets/img2.jpg");
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      background-position: 51%;
      background-size: 240% 140%;
    }
  }
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  .description {
    align-self: flex-end;
    width: min(100vw, 768px);
    font-size: 30px;
    color: white;
    font-family: "Messina";
    margin-top: 100px;
    padding-left: 20px;
  }
}

.mail-container {
  position: relative;
  padding: 200px 20px 0;
  width: 100vw;
  .plus-icon {
    height: 130px;
    width: 130px;
    position: absolute;
    background-image: url("/assets/plus.svg");
    top: 100px;
    left: 100px;
  }

  .mail-box {
    margin: 0 auto;
    display: flex;
    width: min(calc(100vw - 40px), 768px);
    padding: 0;

    input {
      padding: 30px;
      width: 60%;
      height: 79px;
      border-radius: 5px 0px 0px 5px;
      border: 1px solid rgba(229, 242, 248, 0.33);
      background: rgba(229, 242, 248, 0.05);
      color: var(--Text-White, #e5f2f8);
      // font-family: "Messina";
      font-size: 25.72px;
      font-style: normal;
      font-weight: 400;
      line-height: 165%; /* 42.438px */
      letter-spacing: 0.386px;
    }
    button {
      width: 40%;
      border-radius: 0px 5px 5px 0px;
      background: var(--Sand, #ff763c);
      box-shadow: 0px 0px 54px 0px rgba(255, 118, 59, 0.6);
    }
  }
  p {
    margin: 50px auto;
    width: min(calc(100vw - 40px), 600px);
    color: #e5f2f8;
    text-align: center;
    font-family: Messina Sans;
    font-size: 12.72px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 20.988px */
    letter-spacing: 0.191px;
    opacity: 0.4;
  }
}

.images-section {
  position: relative;
  padding: 20px 0;
  width: 100vw;
  display: flex;
  .person-three-image {
    background-image: url("/assets/img3.jpg");
    height: 700px;
    background-size: 160% 130%;
    background-repeat: no-repeat;
    background-position: 50% 140%;
  }
  .dot-shape {
    background-image: url("/assets/dot-shape.svg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.map-section {
  position: relative;
  width: 93vw;
  background-color: #001a2e;
  color: white;
  padding: max(4vw, 10px);
  margin-left: 7vw;
  margin-top: -200px;
  z-index: 0;
  h2 {
    font-size: 67px;
    font-family: "Messina";
    line-height: 73px;
    padding-bottom: 50px;
  }
  p {
    color: #e5f2f8;
    font-family: "Messina";
    font-size: 19.72px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 32.538px */
    letter-spacing: 0.296px;
    margin-bottom: 100px;
  }
  .map-image {
    background-image: url(/assets/map.svg);
    width: 100%;
    height: 380px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .main-banner-container .main-banner-images {
    padding: 0;
    .access-text-bg {
      width: 90vw;
      height: 45vw;
      position: absolute;
      top: 4.87vw;
      background-size: contain;
      background-position: 27% 0%;
    }
    .person-one-img {
      height: 34vw;
      width: 22.5vw;
      position: absolute;
      top: 22vw;
      background-position: 60%;
      background-size: 260% 140%;
    }
    .person-two-img {
      height: 27.7vw;
      width: 21.5vw;
      position: absolute;
      top: 0;
      right: 0;
      background-position: 51%;
      background-size: 240% 140%;
    }
  }
  .images-section {
    padding: 200px 0 20px;

    .person-three-image {
      height: 700px;
    }
    .dot-shape {
      height: 500px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .description {
    margin-top: unset;
    padding-left: unset;
  }
}

@media screen and (min-width: 1150px) {
  .description-container {
    width: 90%;
    .description {
      width: min(100vw, 768px);
    }
  }
}
