body {
  background-color: #003e6d;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #086cb5 0%,
    rgba(8, 126, 211, 0) 100%
  );
}

header {
  z-index: 1000;
  background-color: #003e6d;
}

.notification-bar {
  background-color: #17243a;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #e5f2f8;
  font-family: "Messina";
  font-size: 15.72px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.702px;
}

.company-logo {
  height: 26px;
  background-repeat: no-repeat;
  width: 234px;
  background-image: url("/assets/logo.svg");
}

.menu-icon {
  background-image: url("/assets/menu.svg");
  height: 23px;
  width: 28px;
}

.tag-line {
  color: #e5f2f8;
  text-align: center;
  font-size: 35.72px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 57.152px */
  letter-spacing: 13.574px;
  text-transform: uppercase;
}

.access-text-bg {
  width: 100vw;
  aspect-ratio: 0.5;
  background-image: url("/assets/access.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 70px;
  background-position: 27% 0%;
}

.person-one-img {
  background-image: url("/assets/img1.jpg");
  height: 490px;
  width: 330px;
  position: absolute;
  top: 323px;
  background-position: 60%;
  background-size: 260% 140%;
}
.person-two-img {
  background-image: url("/assets/img2.jpg");
  height: 400px;
  width: 310px;
  position: absolute;
  top: 0px;
  right: 0;
  background-position: 51%;
  background-size: 240% 140%;
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  .description {
    align-self: flex-end;
    width: min(100vw, 768px);
    font-size: 30px;
    color: white;
    font-family: "Messina";
  }
}

